@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brew-orange: #ff5622;
  --color-brew-darkblue: #9eb7e0;
  --color-brew-lightblue: #bfd9f0;
  --color-brew-navy: #272663;
}

body {
  background-image: url("/speechbg.webp");
}
